version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: rifasystem_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d
    networks:
      - rifa_network

volumes:
  pg_data:

networks:
  rifa_network:
    driver: bridge
